@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900');


*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}
html { 
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior:smooth;
    scroll-padding-top: 6rem;
}
:root{
    --black: rgb(22, 22, 29);
    --white: #fff;
    --light-color: #808080;
    --green-base:rgb(0, 100, 0);
    --green-base-op:rgb(0, 100, 0,0.8);
    --light-bg: #f5f5f8;
}


.white-p{
    font-size:2rem;
    font-weight: 400;
    color: white;
    line-height: 140%;
}
.second-p{
    font-weight: 400;
    color: var(--light-color);
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-transform: none;
    line-height: 140%;
}



.container{
    display: flex;
    align-items:left;
    justify-content: center;
    text-align: left;
    flex-flow: column;
}
.container-center{
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: left;
    flex-flow: column;
    padding-right: 10px;
    
    
}
.image{ /* 80px height */
    margin-bottom: 30px;
}

.image img{
    height: 100%;
    width: auto;
    object-fit: cover;
}
.image:hover img{
    transform: scale(1.2);
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    width: 100%;
}
/* home */
#home{
    top: 0;
    left: 0;
    height: 100vh;
    background-image: url('/images/home3.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    background-attachment:fixed; /*  efecto de que se come imagen */
    z-index: 1;
}

#home::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .6;
    z-index: -1;
}

.home h1{
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 3rem;
    color: white;
}

.home p{
    margin-bottom: 3rem;
    text-transform: none;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones a{
    color: white;
    font-weight: 400;
    font-size: 1.7rem;
    border: 0.1rem solid white;
    border-radius: 10rem;
    padding: 1.5rem 4rem;
    margin: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones a div{
    margin: .5rem;
    align-items: center;
    display: none;
}
.botones a ion-icon{
    font-size: 2rem;
}
.botones .btn2 {
    background-color: rgb(0, 100, 0,0.6);
    border: none; 
}

.botones a:hover div{
    display: flex;
}

/* end home section */

/*header and navbar */
.header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.header .sub-menu{
    justify-content: flex-end;
    padding: 1.5rem 5rem;
    background-color: rgb(0, 100, 0,0.6);
    display: flex;
}
.header .sub-menu .element{
    margin-left: 4rem;
    color: white;
    display: flex;
    font-size: 1.6rem;
    align-items: center;
}
.header .sub-menu .element p{
    margin-left: 1rem;
    font-size: 1.6rem;
}

.header .menu{
    padding: 2rem 5rem;
    align-items: center;
    height: 90px;
    display: flex;
    /* background: rgba(0,0,0,0.21); */
}

.header .logo{
    margin-right: auto;
}

.header .logo img{
    width: 100%;
}


.header .navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 3rem;
}
.header .navbar a:hover{
    font-size: 210%; 
    text-decoration: underline;
}
.header .menu .toggle,.close_div{
    display: none;
}
.header .menu ion-icon{
    font-size: 3rem;
    color: white;
    margin-left: 3rem;
}

.header ion-icon:hover{
    font-size: 4rem;
}

/*header and navbar */
/* about section  */

#about,#dependencias,#services,#contact{
    padding: 5rem 9%;
}

#about .sect-container .image-big{
    height: 35rem;
}
#about .sect-container .image-big img{
    height: 100%;
    width: 90%;
    object-fit: cover;
}
#about .sect-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 2rem;
    margin-bottom: 50px;
}


#about .container-center:nth-child(-n+2){
    border-right: 1px solid var(--black);
}

#about .sect-container .second-heading{
    color: var(--black);
    font-weight: 500;
}


.heading{
    font-size: 3.7rem;
    color: var(--black);
    margin-bottom: 1.5rem;
    letter-spacing: .4rem;
    font-weight: 500;
}


.heading span{
    color: var(--green-base);
    font-weight: 800;
}

.sub-heading{
    color: var(--green-base);
    text-transform: uppercase;
    font-size: 1.7rem;
}
.second-heading{
    color: white;
    font-size: 2.2rem;
    margin-bottom: 10px;
    
}

/*Ends about and starts srvices*/
#services,#contact{
    min-height: 100vh;
}
#services .container-2{
    display: flex;
    width: 60%; 
    flex-direction: column; 
    margin-bottom: 30px;
    
}
#services .sect-container{
    display: flex;
    width: 100%;  
}

#services .sect-container .container{
    width: 25%;
    min-height: 240px;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
}

#services .sect-container .container:nth-child(odd){
    background-color: var(--green-base);
}
#services .sect-container .container:nth-child(even){
    background-color: #303842;
}
#services .sect-container .container .second-p{
    color: white;
    font-weight: 300;
}

#services .sect-container .container .image img{
    opacity: .95;
}




/*Ends services and starts semi*/
#semi-sect{
    min-height: 45vh;
    width: 100%;
    background-image: url('/images/blog1.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    background-attachment:fixed; /*  efecto de que se come imagen */
    z-index: 1;
    text-align: left;
    align-items: flex-start;
    padding: 5%;
}
#semi-sect::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    opacity: .8;
    z-index: -1;
}

.blog h3{
    font-size: 3rem;
    text-transform: none;
}
.blog p{
    font-size: 2rem;
    color: white;
    text-transform: none;
    margin-right: 10px;
}
.blog a{
    display: flex;
    text-decoration: underline;
    color: white;
    align-items: center;
}
.blog a:hover{
    transform: scale(1.2);
}


/* Contact form Starts*/
#contact{
    background-color: rgb(211,211,211); 
}
#contact .sect-container{
    position: relative;
    width: 100%;
    min-height: 507px;
    z-index: 1;
    text-align: left;
}
#contact .sect-container .containerInfo{
    position: absolute;
    top: 20px;
    width: 350px;
    height: calc(100% - 40px);/* menos distancia de top8 calc(100% - 80px) */
    background-color: #303842;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}
#contact .containerInfo ul.info{
    position: relative;
}
#contact .containerInfo ul.info li{
    list-style: none;
    display: flex;
    margin: 5px 0;
    position: relative;
    cursor: pointer;
    align-items: flex-start;
}
#contact .containerInfo .map{
    width: 100%;
    height: 36%;
}

#contact .containerInfo .map iframe{
    width: 100%;
    height: 100%;    
}
#contact .containerInfo .info li ion-icon{
    color: white;
    font-size: 3rem;
}
#contact .second-p{
    color: white;
    margin-left: 10px;
    text-align: left;
    font-weight: 300;
}
#contact .sect-container .containerForm{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background-color: var(--light-bg);
    box-shadow: 0 50px 25px rgba(0, 0, 0, 0.25);
}

#contact .containerForm .second-heading{
    color: var(--black);
}
#contact .containerForm .second-p{
    color: var(--black);
}


#contact .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}
#contact .formBox .inputBox{
    position: relative;
    margin-bottom: 30px;   
}
#contact .formBox .inputBox.w50{
    width: 47%;
}
#contact .formBox .inputBox.w100{
    width: 100%;
}

#contact .formBox .inputBox input,
#contact .formBox .inputBox textarea
{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: black;
    border: none;
    outline: none;
    border-bottom: 1px solid #303842;
    background-color: var(--light-bg);
}

#contact .formBox .inputBox textarea
{
    height: 120px;
}
#contact .formBox .inputBox span
{
    pointer-events: none;
    position: absolute;
    left: 0;
    padding: 5px 0;
}

#contact .formBox .inputBox input:focus ~span,
#contact .formBox .inputBox input:valid ~span,
#contact .formBox .inputBox textarea:focus ~span,
#contact .formBox .inputBox textarea:valid ~span
{
    transform: translateY(-2.4rem);
}

#contact .formBox .inputBox input:focus ~span p,
:valid ~span p,
#contact .formBox .inputBox textarea:focus ~span p,
#contact .formBox .inputBox textarea:valid ~span p
{
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: var(--green-base);

}
#contact .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background:#303842;
    color:white;
    border: none;
    max-width: 150px;
    padding: 12px;
    border-radius: 40px;
}
#contact .formBox .inputBox input[type="submit"]:hover{
    color:black;
    border: 1px solid #303842;
    background: none;
}
/* Contact form Ends*/

/* media adapts */
@media (max-width:800px){
    section{
        padding: 20px 60px ;
        text-align: left;
        align-items: flex-start;
    }
    .header{
        position: fixed;
    }

    .home h1{
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }
    .home p{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .botones{
        flex-direction: column;
        align-items: flex-start;
    }
    .botones a{
        
        border: 0.1rem solid white;
        padding: .8rem;
        margin: .8rem;
        border-radius: 0;
    }
    .header .sub-menu{
        display: none;
    }
    .header .menu{
        padding: 2rem 1.5rem;
        background-color: var(--green-base);
        box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .header .logo img{
        height: 45px;
        width: auto;
    }
    .header .navbar {
        position: fixed;
        top: 0;
        right: 0;
        display: none;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-color: rgb(0, 100, 0,1);
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    

    .header .navbar a{
        font-size: 3rem;
        margin-bottom: 2rem;
        color: white;
    }
    .header .menu .toggle{
        display: block;
        cursor: pointer;
    }
    .header .menu .close_div{
        cursor: pointer;
    }
    
    #about .sect-container .image-big{
        height: 25rem;
    }
    #about .container-center:nth-child(-n+2){
        border-right: none;
    }
    #services {
        position: relative;
    }
    #services .sect-container{
        flex-direction: column;
        width: 100%;
        position: relative;
    }
    #services .sect-container .container{
        width: 100%;
        
    }
    #services .container-2{
        width: 100%;
    }
    #contact .sect-container{
        display: flex;
        flex-direction: column-reverse;
        box-shadow: 0 50px 25px rgba(0, 0, 0, 0.25);
    }
    #contact .sect-container .containerInfo{
        position: relative;
        width: 100%;
        height: auto;
        box-shadow: none;
        padding: 25px;
        top: 0;
        align-items: flex-start;
    }
    #contact .sect-container .containerInfo .map{
        display: none;
    }
    #contact .sect-container .containerForm{
        position: relative;
        width: 100%;
        height: auto;
        padding: 70px 50px;
        margin-left: 0px;
        box-shadow: none;
        padding: 25px;
    }
    #contact .formBox .inputBox.w50{
        width: 100%;
    }
}
